@font-face {
  font-family: replica-reg;
  src: url(font/ReplicaProRegular.otf);
}
@font-face {
  font-family: replica-light;
  src: url(font/Replica\ Light.otf);
}

body {
  background-color: transparent;
  color: #1b1b1b;
  overflow: hidden;
  font-family: replica-light;
}

::-webkit-scrollbar {
  display: none;
}

canvas {
  display: block;
}

.sezione {
  position: relative;

  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.slidesnap {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
  padding: 0;
}

/*NAVBAR*/

.navbar {
  position: fixed;
  z-index: 3;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  margin-top: 2vh;
  padding-left: 0vw;
  padding-right: 0vw;
  overflow: hidden;
  background-color: transparent;
  width: 100%;
}

.navbox {
  background-color: #e0e0e0;
  border-radius: 10px;
  margin-right: 4vh;
  z-index: 5;
  box-shadow: 0px 4px 4px rgba(88, 88, 88, 0.4);
}

.navb {
  display: flex;
  float: left;
  color: rgb(0, 0, 0);
}

.navb:hover {
  background-color: #6200ff;

  /* border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; */
  border-radius: 10px;
}

#microverso:hover {
  background-color: #e0e0e0;
}

.navlogo {
  display: flex;
  float: right;
  margin-left: 4vh;
}

.navb a {
  display: block;

  color: #1b1b1b;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-left: 6vh;
  margin-right: 6vh;
  font-family: replica-reg;
}

.logo {
  height: 6vh;
}

/* PARASITE WIRE*/

.parasitewire {
  pointer-events: none;
  width: 100%;
  vertical-align: middle;
  z-index: 1;
  position: absolute;
  text-align: center;
  margin-top: 40vh;
}

.parasitewire img {
  width: 35vh;
}

/*CANVAS P5*/

#canvasp5 {
  pointer-events: none;
  z-index: 0;
  position: absolute;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

/* PAYOFF*/
.payoffbox {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  z-index: 6;
  overflow: hidden;
}

.payoff {
  display: flex;
  position: relative;
  float: left;
  color: white;
  font-size: 3vh;
  margin-top: 48vh;
  margin-left: 10vw;
  margin-right: 10vw;
  opacity: 0%;
  animation-name: fadepayoff;
  animation-duration: 2s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

/*SKIP AND SCROLL DOWN*/

.arrow {
  opacity: 100%;
  width: 100vw;
  display: flex;
  justify-content: right;
  z-index: 4;
  overflow: hidden;
  margin-top: 35vh;
}

.arrow p {
  display: flex;
  position: relative;
  float: right;
  color: white;
  font-size: 3vh;
  margin-top: 48vh;
  margin-left: 0vw;
  margin-right: 0vw;
  margin-top: 2vh;
  width: 12vw;
  text-align: right;
  margin-bottom: 0;
  line-height: 3vh;
}

.p {
  display: flex;
  position: relative;
  float: right;
  color: white;
  font-size: 3vh;
  margin-top: 48vh;
  margin-left: 0vw;
  margin-right: 0vw;
  margin-top: 2vh;
  width: 12vw;
  text-align: right;
  margin-bottom: 0;
  line-height: 3vh;
  animation-name: fadescroll;
  animation-duration: 0.3s;

  animation-fill-mode: forwards;
}

.arrowglifo {
  opacity: 100%;
  position: relative;
  float: right;
  font-size: 35pt;
  color: white;
  font-family: replica-reg;
  margin-top: 48vh;
  margin-left: 1vw;
  margin-right: 2vw;
  margin-top: 1vh;
  animation-name: scrolly;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

.imgfreccia {
  opacity: 100%;
  position: relative;
  float: right;
  font-size: 30pt;
  color: white;
  font-family: replica-reg;
  margin-top: 48vh;
  margin-left: 1vw;
  margin-right: 2vw;
  margin-top: 1vh;
  animation-name: fadescroll;
  animation-duration: 0.3s;

  animation-fill-mode: forwards;
}

/*ANIMATION*/

@keyframes scrolly {
  0% {
    margin-top: 1vh;
  }
  50% {
    margin-top: 2vh;
  }

  100% {
    margin-top: 1vh;
  }
}

@keyframes fadepayoff {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fadescroll {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

/* DEFINIZIONE BLOCCO TESTO */

.definizione {
  opacity: 0%;
  position: absolute;
  color: white;
  font-size: o.5vw;
  font-family: replica-light;
  width: 44vh;
  margin-left: 4vh;
  margin-top: 15vh;
}

.introduzione {
  position: absolute;
  color: white;
  font-size: 2.5vh;
  font-family: replica-light;
  width: 74vh;
  margin-left: 4vh;
  margin-top: 74vh;
  mix-blend-mode: difference;
}

/* .introduzione {
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 2.5vw;
  font-family: replica-reg;
  mix-blend-mode: exclusion;
  text-align: center;
  width: 80vw;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 28vh;
} */

/* ABOUT */

.about {
  transform: translateX(60vh);
  position: fixed;
  z-index: 3;
  pointer-events: none;
  flex-wrap: wrap;
  align-items: left;
  justify-content: space-between;
  margin: 0;
  margin-top: 2vh;
  padding-left: 0vw;
  padding-right: 0vw;
  overflow: hidden;

  width: 100%;
}

.aboutmoved {
  transform: translateX(60vh);
  position: fixed;
  z-index: 3;
  pointer-events: none;
  flex-wrap: wrap;
  align-items: left;
  justify-content: space-between;
  margin: 0;
  margin-top: 2vh;
  padding-left: 0vw;
  padding-right: 0vw;
  overflow: hidden;
  width: 100%;
  animation: aboutmove 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

.noabout {
  transform: translateX(0vh);
  position: fixed;
  z-index: 3;
  pointer-events: none;
  flex-wrap: wrap;
  align-items: left;
  justify-content: space-between;
  margin: 0;
  margin-top: 2vh;
  padding-left: 0vw;
  padding-right: 0vw;
  overflow: hidden;
  width: 100%;
  opacity: 100%;
  animation: aboutdesaparesido 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

.aboutbox {
  width: 52vh;

  float: right;
  background-color: transparent;
  color: rgb(98, 0, 255);
  border-radius: 10px;
  margin-right: 4vh;
}

.testiabout {
  font-size: 2vh;
  padding-left: 3vh;
  padding-right: 3vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  border-radius: 10px;
  background-color: #1e1e1e;
  margin-bottom: 1vh;
  line-height: 2.5vh;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

@keyframes aboutmove {
  0% {
    transform: translateX(60vh);
  }

  100% {
    transform: translateX(0vh);
  }
}

@keyframes aboutdesaparesido {
  0% {
    transform: translateX(0vh);
  }

  100% {
    transform: translateX(60vh);
  }
}

/*button to colony*/

.colonytesto {
  z-index: 6;
  width: 20vw;
  padding: 2vh;
  position: relative;
  color: white;
  font-family: replica-reg;
  font-size: 2vh;
  background-color: #101010;
  border-radius: 10px;
  margin-left: 40vw;
  margin-top: 10vh;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  pointer-events: all;
  animation: flow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  opacity: 100%;
}

.colonytesto:hover {
  background-color: #ff1f53;
}

@keyframes flow {
  0% {
    margin-top: 10vh;
  }
  50% {
    margin-top: 10.7vh;
  }
  100% {
    margin-top: 10vh;
  }
}

/*BLOCCO MOBILE*/

.bloccomobile {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 10;
}

@media all and (max-width: 970px) {
  .bloccomobile {
    display: block;
    position: absolute;
    font-family: replica-reg;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 10;
  }
}

/*SLIDER*/
.sliderz {
  -webkit-appearance: none; /* Override default CSS styles */
  position: absolute;
  margin-top: 94vh;
  margin-left: 76vw;
  appearance: none;
  width: 20vw; /* Full-width */
  height: 0.8vh; /* Specified height */
  border-radius: 17px;
  background: #ff1f53; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  color: #ff1f53;
  z-index: 3;
}

.sliderz::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 30px;
  background: #ff1f53;
  cursor: pointer;
}

.slideto {
  position: absolute;
  z-index: 10;
  color: #606060;
  font-size: 1.2vw;
  font-family: replica-reg;
  margin-top: 90vh;
  margin-left: 76vw;
}

.puntatore {
  opacity: 60%;
  pointer-events: none;
  padding: 0;
  position: absolute;
  width: 100vw;
  text-align: center;
  height: 100vh;
  margin-top: 45vh;
  z-index: 8;
}


 div.load {
  position: absolute;
  background-color: #ededed;
  width: 100vw;
  height: 100vh;
  text-align: center;
  z-index: 20;
}

img.load {
  width: 12vh;
  margin-top: 40vh;
  animation: roll;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

p.load {
  color: #ff1f53;
  font-size: 3vh;
  margin-top: 4vh;
  font-family: replica-reg;
}

@keyframes roll {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

